{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Foodfy Admin - Novo Chef</title>
{% endblock %}

{% block adminContent %}
  <section class="chefsList adminRecipe">
    <div class="formRecipe createPage">
      <fieldset>
        <div class="formHeader">
          <legend>Criando chef
          </legend>
          <button form="createChef" class="btn" type="submit">Salvar Chef</button>
        </div>
        <form id="createChef" action="/admin/chefs" method="POST" enctype="multipart/form-data">

          <div class="inputBlock">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" value="{{chef.name}}">
          </div>

          <div class="inputBlock">
            <label for="photos">Enviar Avatar</label>
            <div class="container">
              <div id="photosUpload">
                <input type="file" name="photos" id="photosInput" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
                <span class="material-icons">add</span>
              </div>
              <div id="photosPreview">
                {% if files %}
                  {% for image in files %}
                    <div class="photo" id="{{image.id}}">
                      <img src="{{image.src}}" alt="{{image.name}}">
                      <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                    </div>
                  {% endfor %}
                  <input type="hidden" name="removedFiles">
                  {% endif%}
                </div>
              </div>
            </div>

          </form>
        </fieldset>
      </div>
    </section>
    {% endblock%}