{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Foodfy Admin - Novo Chef</title>
  <link rel="stylesheet" href="/css/adminStyle.css">
  <link rel="stylesheet" href="/css/chef.css">
  <link rel="stylesheet" href="/css/partials/form.css">
  <link rel="stylesheet" href="/css/partials/components.css">
{% endblock %}

{% block adminContent %}
  <section class="chefsList">
    <div class="editPage">
      <fieldset>
        <div class="formHeader">
          <legend>Editando chef
          </legend>

          <div class="btnContainer">
            <button form="deleteForm" class="btn" id="deleteButton" type="submit">
              <i class="material-icons">delete</i>
            </button>

            <button form="editChef" class="btn" type="submit" id="editButton">
              <i class="material-icons">done</i>
            </button>
          </div>
        </div>
        <form action="/admin/chefs?_method=PUT" method="POST" id="editChef">

          <div class="inputBlock">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" value="{{chef.name}}">
          </div>

          <div class="inputBlock chef">
            <label for="photos">Avatar</label>
            <div class="container chefUpload">
              <div id="photosUpload">
                <input type="file" name="photos" id="photosInput" value="chef.name" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
              </div>
              <div id="photosPreview"></div>
            </div>
          </div>

          <input type="hidden" name="id" value="{{chef.id}}">

          
        </form>
        <form id="deleteForm" action="/admin/chefs?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{chef.id}}">
        </form>
      </fieldset>
    </div>
  </section>
  {% endblock%}