{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Foodfy Admin - Chefs</title>
  <link rel="stylesheet" href="/css/adminStyle.css">
{% endblock %}

{% block adminContent %}
  <section class="chefsList">
    <div class="listHeader">
      <h4>Gerenciar chefs</h4>
      <a href="/admin/chefs/create">Novo chef</a>
    </div>

    <div class="cards">
      {% for chef in chefs %}
        <div class="card">
          <div class="cardImg" style="background: url({{chef.image}}) no-repeat center / cover">
          </div>
          <div class="cardContent">
            <p>{{chef.title}} <br> 
              <span>por {{chef.chef_id}}</span>
            </p>
            <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
    
{% endblock %}