{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Chef {{chef.name}}</title>
{% endblock %}

{% block adminContent %}
  <section class="adminChef">
    <header>
      <h2>Chef: {{chef.name}}</h2>

      <div class="btnEditContainer">
        <a href="/admin/chefs/{{chef.id}}/edit" class="btn">Editar Chef</a>
      </div>
    </header>

    <div class="chefBanner">
      <div class="avatar" >
        <img src="{{chef.file.src}}" alt="{{chef.name}}">
      </div>
      <div class="content">
        <p>{{chef.name}} <br> <span>{{chef.total_recipes}} {{'receitas' if chef.total_recipes > 1 else 'receita'}}</span></p>
      </div>
    </div>

    <div class="recipesList">
      <div class="listHeader">
        <h4>{{'Receitas' if recipes.length > 1 else 'Receita'}}</h4>
      </div>

      {% include 'templates/includes/recipes-list.njk'%}

    </div>
  </section>
{% endblock %}
