{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Receita do {{recipes.title}}</title>
  <link rel="stylesheet" href="/css/adminStyle.css">

{% endblock %}

{% block adminContent %}
<div class="recipe adminRecipe">
  <div class="container">
    <div class="editRecipe">
      <h2>Receita: {{recipes.title}}</h2>
      
      <a href="/admin/{{recipes.id}}/edit">Editar receita</a>
    </div>

    <div class="recipeBanner">
      <div class="foodImg " style="background: url({{recipes.image}}) no-repeat center / cover">
      </div>

      <div class="title">
        <p>{{recipes.title}} <br> <span>por {{recipes.author}}</span></p>
      </div>
    </div>

    <div class="recipeContent">
      <div class="recipeInfo">
        <div class="recipeInfoTitle">
          <h3>Ingredientes</h3>
          <a class="button">esconder</a>
        </div>
        <ul class="content show">
          {% for recipe in recipes.ingredients %}
            <li>{{recipe}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="recipeInfo">
        <div class="recipeInfoTitle">
          <h3>Modo de preparo</h3>
          <a class="button">esconder</a>
        </div>
        <ul class="content show">
          {% for recipe in recipes.preparation %}
            <li>{{recipe}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="recipeInfo">
        <div class="recipeInfoTitle">
          <h3>Informações adicionais</h3>
          <a class="button">esconder</a>
        </div>

        <p class="content show">{{recipes.information}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}