<div class="inputBlock">
  <label for="photos">Imagem da receita</label>
  <div class="container">
    <div id="photosUpload">
      <input type="file" name="photos" id="photosInput" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
      <span class="material-icons">add</span>
    </div>
    <div id="photosPreview">
      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removedFiles">
        {% endif%}
    </div>
  </div>
</div>

<div class="inputBlock">
  <label for="title">Nome da receita</label>
  <input type="text" name="title" id="title" value="{{recipe.title}}">
</div>

<div class="selectBlock">
  <label for="name">Chef</label>
  <div>
    <select name="chef">
      {% for chef in chefsOptions %}
        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected="selected" {% endif %}>{{chef.name}}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="inputBlock" id="recipeItems">
  <label>Ingredientes</label>
  <div class="fieldContainer">
    {% if recipe.ingredients %}
      {% for ingredient in recipe.ingredients %}
        <input type="text" name="ingredients[]" class="fieldInput" value="{{ingredient}}" placeholder="Insira novo ingrediente">
      {% endfor %}
    {% else %}
      <input type="text" name="ingredients[]" class="fieldInput" required="required">
    {% endif %}
  </div>
  <button type="button" id="addField" href="">Adicionar novo ingrediente</button>
</div>

<div class="inputBlock" id="recipeItems">
  <label for="preparation">Modo de preparo</label>
  <div class="fieldContainer">
    {% if recipe.ingredients %}
      {% for prep in recipe.preparation %}
        <input type="text" name="preparation[]" class="fieldInput" value="{{prep}}" placeholder="Insira novo passo">
      {% endfor %}
    {% else %}
      <input type="text" name="preparation[]" class="fieldInput" required="required">
    {% endif %}
   
  </div>
  <button type="button" id="addField" href="">Adicionar novo passo</button>
</div>

<div class="textAreaBlock">
  <label for="information">Informações adicionais</label>
  <textarea name="information" id="information">{{recipe.information}}</textarea>
</div>