<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
<link rel="stylesheet" href="/css/recipe.css">
<link rel="stylesheet" href="/css/partials/components.css">
<link rel="stylesheet" href="/css/partials/form.css">
<link rel="stylesheet" href="/css/chef.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/adminStyle.css">
