{% extends "layout.njk" %}

{% block head %}
  <title>FoodFy - Lista de Receitas</title>
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <div class="recipes">
        {% for recipe in recipes %}
          {% include 'recipeCard.njk' %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
