:root {
  --admin-color: #6558C3;
}

/* ADMIN RECIPES LIST */
.adminHeader {
  background-color: var(--admin-color);
}

.adminHeader .container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.adminHeader .container .nav {
  background-color: initial;
}

.adminHeader .container .nav a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.recipesList,
.chefsList {
  max-width: 940px;
  margin: 0 auto;
  padding: 30px;
}

.recipesList .listHeader,
.chefsList .listHeader {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipesList .listHeader h4,
.chefsList .listHeader h4 {
  font-size: 20px;
}

.recipesList .listHeader a,
.chefsList .listHeader a {
  font-size: 12px;
  color: white;
  background-color: var(--admin-color);
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: minmax(auto, 300px);
  align-items: center;
  gap: 24px;
}

.cards .card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.cardImg {
  border-radius: 8px;
  overflow: hidden;
}

.cardImg img {
  width: 100%;
  height: 100%;
}

.cardContent {
  padding: 16px;
}

.cardContent p {
  font-size: 12px;
  color: var(--primary-txt-color);
  line-height: 20px;
  margin-bottom: 8px;
}

.cardContent span {
  font-size: 12px;
  color: var(--secondary-txt-color);
}

.cardContent a {
  font-size: 12px;
  color: var(--admin-color);
  font-weight: bold;
  border: 1px solid var(--admin-color);
  padding: 4px 8px;
  border-radius: 4px;
  transition: .4s ease-in-out;
}
.cardContent a:hover {
  background-color: var(--admin-color);
  color: white;
}

@media (min-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .cards .card {
    max-width: 450px;
    grid-template-columns: minmax(auto, 172px) 1fr;
    grid-template-rows: 90px;
    gap: 20px;
  }

  .cardContent {
    padding: 0;
  }

  .cardContent p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .recipesList .listHeader h4,
  .chefsList .listHeader h4 {
    font-size: 24px;
  }

  .recipesList .listHeader a,
  .chefList .listHeader a  {
    font-size: 12px;
    padding: 8px 16px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
  
}

/* ADMIN CHEFS LIST */
.chefsCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.chefsCards .card {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.chefsCards .card .cardImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.chefsCards .cardContent p {
  font-size: 16px;
}

.chefsCards .card a {
  border: none;
  padding: 0;
}

@media (min-width: 480px) {
  .chefsCards {
    grid-template-columns: 1fr 1fr;    
  }
  
  .chefsCards .card {
    gap: 20px;
  } 
}


/* ADMIN INDIVIDUAL RECIPE PAGE */
.adminRecipe .editRecipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.adminRecipe .editRecipe h2 {
  font-size: 16px;
}

.adminRecipe .editRecipe .buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.adminRecipe .editRecipe .buttons button:first-child {
  margin-right: 20px;
  background-color: lightcoral;
}

.adminRecipe .editRecipe .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminRecipe .editRecipe .buttons span {
  font-size: 20px;
}

.adminRecipe li,
.adminRecipe .recipeContent .recipeInfo p {
  color: #444444;
}

@media (min-width: 768px) {
  .adminRecipe .editRecipe h2 {
    font-size: 24px;
  }

}