:root {
  --admin-color: #6558C3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.active {
  color: white;
  font-weight: bold;
}

/* ADMIN RECIPES LIST */
.adminHeader {
  background-color: var(--admin-color);
}

.adminHeader .container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.adminHeader .container .linksAdmin {
  background-color: initial;
  text-align: center;
}

.adminHeader .container .linksAdmin a {
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: thin;
  margin-left: 10px;
}

.adminHeader .search {
  bottom: -60px;
}

@media (min-width: 600px) {
  .adminHeader .search {
    bottom: 0;
  }
}

.adminHeader .search input {
  outline-color: var(--admin-color);
}

.adminHeader .search button {
  background-color: white;
  color: var(--admin-color);
  border-color: white;
}

.adminHeader .search button:hover {
  background-color: var(--admin-color);
  color: white;
}

.active {
  color: white;
  font-weight: bold;
}

.recipesList,
.chefsList {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 30px;
}

.recipesList {
  margin-top: 60px;
}

.recipesList .listHeader,
.chefsList .listHeader {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipesList .listHeader h4,
.chefsList .listHeader h4 {
  font-size: 20px;
}

.recipesList .listHeader a,
.chefsList .listHeader a {
  font-size: 12px;
  color: white;
  background-color: var(--admin-color);
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: minmax(auto, 300px);
  align-items: center;
  gap: 24px;
}

.cards .card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.cardImg {
  border-radius: 8px;
  overflow: hidden;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}

.cardContent p {
  font-size: 12px;
  color: var(--primary-txt-color);
  line-height: 20px;
  margin-bottom: 8px;
}

.cardContent span {
  font-size: 12px;
  color: var(--secondary-txt-color);
}

.cardContent a {
  font-size: 12px;
  color: var(--admin-color);
  font-weight: bold;
  border: none;
  transition: .4s ease-in-out;
}

@media (min-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .cards .card {
    max-width: 450px;
    grid-template-columns: minmax(auto, 172px) 1fr;
    grid-template-rows: 90px;
    gap: 20px;
  }

  .cardContent {
    padding: 0;
  }

  .cardContent p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .recipesList .listHeader h4,
  .chefsList .listHeader h4 {
    font-size: 24px;
  }

  .recipesList .listHeader a,
  .chefList .listHeader a  {
    font-size: 12px;
    padding: 8px 16px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
  
}

/* ADMIN CHEFS LIST */
.chefsCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.chefsCards .card {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.chefsCards .card .cardImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.chefsCards .card .cardImg img {
  object-fit: cover;
}

.chefsCards .cardContent p {
  font-size: 16px;
}

.chefsCards .card a {
  border: none;
  padding: 0;
}

@media (min-width: 480px) {
  .chefsCards {
    grid-template-columns: 1fr 1fr;    
  }
  
  .chefsCards .card {
    gap: 20px;
  } 
}

@media (min-width: 768px) {
  .chefsCards {
    grid-template-columns: repeat(4, 1fr);  
    grid-template-rows: 1fr 1fr;  
  }
  
  .chefsCards .card {
    gap: 20px;
  } 
}


/* ADMIN INDIVIDUAL RECIPE PAGE */
.adminRecipe .editRecipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.adminRecipe .editRecipe h2 {
  font-size: 16px;
}

.adminRecipe .editRecipe .buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.adminRecipe .editRecipe .buttons button:first-child {
  margin-right: 20px;
  background-color: lightcoral;
}

.adminRecipe .editRecipe .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminRecipe .editRecipe .buttons span {
  font-size: 20px;
}

.adminRecipe li,
.adminRecipe .recipeContent .recipeInfo p {
  color: #444444;
}

@media (min-width: 768px) {
  .adminRecipe .editRecipe h2 {
    font-size: 24px;
  }
}

/* PHOTOS RECIPES CONTAINER */
form .inputBlock .container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}

@media (min-width: 768px) {
  form .inputBlock .container {
   grid-template-columns: auto 1fr;
   gap: 10px;
  }
}

/* PHOTOS RECIPES UPLOAD */
form .inputBlock #photosUpload {
  position: relative;
  display: block;
  width: 150px;
  overflow: hidden;
}

#createChef .inputBlock #photosUpload {
  overflow: visible;
}

form .inputBlock #photosUpload span {
  padding: 50px;
  font-size: 45px;
  color: #777;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

form .inputBlock #photosInput {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* PHOTOS RECIPES PREVIEW */
form .inputBlock #photosPreview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
  margin: 8px 0;
}

form .inputBlock #photosPreview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

@media (min-width: 480px) {
  form .inputBlock #photosPreview {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) {
  form .inputBlock #photosPreview {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  form .inputBlock #photosPreview {
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
  }

  form .inputBlock #photosPreview img {
    height: 147px;
  }
}

/* button remove photo */
#photosPreview .photo {
  position: relative;
}

#photosPreview .photo i {
  position: absolute; 
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  transition: opacity .3s;
  opacity: 0;
}

#photosPreview .photo i:hover {
opacity: 1;
}


/* CHEF CREATE PAGE - AVATAR CHEF UPLOAD */
#createChef .inputBlock .container {
  display: flex;
}

#createChef .inputBlock #photosUpload {
  display: flex;
  align-items: center;
  height: 100%;
}

#createChef .inputBlock #photosUpload label {
  white-space: nowrap;
}

/* CHEF EDIT PAGE - AVATAR CHEF UPLOAD */
#editChef .inputBlock #photosUpload {
  height: 40px;
}

#editChef .inputBlock #photosInput {
  opacity: 1;
  width: 100%;
  height: 49px;
  border: 1px solid #dddddd;
  margin-top: 10px;
  padding: 14px;
  border-radius: 4px;
  outline-color: var(--admin-color);
  font: 14px Roboto;
}