<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  
  {% block head %}
    <title>FoodFy</title>
  {% endblock %}
  
</head>
<body>
  <header class="adminHeader">
    <div class="container">
      <div class="logo">
        <h1>
          <a href="/admin/recipes">
            <img src="/img/logo-white.png" alt="Foodfy logo">
          </a>
        </h1>
      </div>
      <div class="navMenu">
        <nav class="links">
          <a href="/admin/recipes">Receitas</a>
          <a href="/admin/chefs">Chefs</a>
        </nav>
        {% block search %}
        {% endblock %}
      </div>
    </div>
  </header>

  {% block adminContent %}
  {% endblock %}


  <footer>
    <div class="container">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>
  </footer>


  {% block scripts %}
  <script src="../../../js/script.js"></script>
  {% endblock %}
</body>
</html>