<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include 'admin/templates/includes/styles.njk'%}
  
  {% block head %}
    <title>FoodFy</title>
  {% endblock %}
  
</head>
<body>
  {% include 'admin/templates/includes/header.njk'%}

  {% block adminContent %}
  {% endblock %}

  {% include 'admin/templates/includes/footer.njk'%}

  {% block scripts %}
  <script src="../../../js/script.js"></script>
  {% endblock %}
</body>
</html>