{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Foodfy Admin - Criando receita</title>
  <link rel="stylesheet" href="/css/adminStyle.css">
  <link rel="stylesheet" href="/css/partials/form.css">
  <link rel="stylesheet" href="/css/partials/components.css">
{% endblock %}

{% block adminContent %}
  <section class="recipesList adminRecipe">
    <div class="formRecipe createPage">
      <fieldset>
        <legend>Criando receita </legend>
        <form id="createRecipe" action="/admin/recipes" method="POST" enctype="multipart/form-data">
        
          {% include "admin/parts/uploadFileField.njk"%}

          <div class="inputBlock">
            <label for="title">Nome da receita</label>
            <input type="text" name="title" id="title" value="{{recipe.title}}">
          </div>

          <div class="selectBlock">
            <label for="name">Nome do Chef</label>
            <div>
              <select name="chef">
                {% for chef in chefOptions %}
                  <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{chef.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>  

          <div class="inputBlock" id="recipeItems">
            <label>Ingredientes</label>
            <div class="fieldContainer">
              <input type="text" name="ingredients[]" class="fieldInput" value="{{recipe.ingredients}}" placeholder="Insira novo ingrediente">
            </div>
            <button type="button" id="addField" href="">Adicionar novo ingrediente</button>
          </div>

          <div class="inputBlock" id="recipeItems">
            <label for="preparation">Modo de preparo</label>
            <div class="fieldContainer">
              <input type="text" name="preparation[]" class="fieldInput" value="{{recipe.preparation}}" placeholder="Insira novo passo">
            </div>
            <button type="button" id="addField" href="">Adicionar novo passo</button>
          </div>

          <div class="textAreaBlock">
            <label for="information">Informações adicionais</label>
            <textarea name="information" id="information">{{recipe.information}}</textarea>
          </div>

          <div class="btnContainer">
            <button form="createRecipe" class="btn" type="submit">Salvar receita</button>
          </div>
          
        </form>
      </fieldset>
    </div>
  </section>
{% endblock%}

{% block scripts %}
  <script src="../../js/script.js"></script>
{% endblock %}