{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Foodfy Admin - Criando receita</title>
  <link rel="stylesheet" href="/css/adminStyle.css">
  <link rel="stylesheet" href="/css/partials/form.css">
  <link rel="stylesheet" href="/css/partials/components.css">
{% endblock %}

{% block adminContent %}
  <section class="recipesList adminRecipe">
    <div class="formRecipe">
      <fieldset>
        <legend>Editando receita</legend>
        <form class="fields" action="/admin/recipes?_method=PUT" method="POST">

          {% include "admin/fields.njk" %}

          <input type="hidden" name="id" value="{{dish.id}}">


          <button class="btn" type="submit">Salvar receita</button>
        </form>

        <form action="/admin/recipes?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{dish.id}}">
          <button class="btn" id="deleteButton" type="submit">Deletar receita</button>
        </form>
      </fieldset>
    </div>
  </section>
{% endblock%}

{% block scripts %}
  <script src="../../js/script.js"></script>
{% endblock %}