{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Admin Foodfy</title>
  <link rel="stylesheet" href="/css/adminStyle.css">
{% endblock %}

{% block search %}
  {% include 'searchField.njk'%}
{% endblock %}

{% block adminContent %}
  <section class="recipesList">
    <div class="listHeader">
      <h4>Gerenciar receitas</h4>
      <a href="/admin/recipes/create">Nova receita</a>
    </div>

    <div class="cards">
      {% for recipe in recipes %}
        <div class="card">
          <div class="cardImg">
            <img src="{{recipe.image}}" alt="{{recipe.name}}">
          </div>
          <div class="cardContent">
            <p>{{recipe.title}} <br> 
              <span>por {{recipe.chef_name}}</span>
            </p>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
    
{% endblock %}