<div class="inputBlock">
  <label for="photos">Imagem da receita</label>
  <div class="container">
    <div id="photosUpload">
      <input type="file" name="photos" id="photosInput" multiple accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
      <span class="material-icons">add</span>
    </div>
    <div id="photosPreview"></div>
  </div>
</div>