<div class="inputBlock">
  <label for="photos">Imagem da receita</label>
  <div class="container">
    <div id="photosUpload">
      <input type="file" name="photos" id="photosInput" multiple accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
      <span class="material-icons">add</span>
    </div>
    <div id="photosPreview">
      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removedFiles">
      {% endif%}
    </div>
  </div>
</div>