<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/errorStyle.css">
  <title>Error</title>
</head>
<body>
  
  <div class="container">
    <h1><span>404</span> error</h1>
    <p>Sorry, page not found.</p>

    <div class="img">
      <img src="/img/bannerImg.png" alt="Chef's Image">
    </div>
  </div>
</body>
</html>