{% extends "admin/adminLayout.njk" %}

{% block head %}
  <title>Receita do {{recipe.title}}</title>
  <link rel="stylesheet" href="/css/adminStyle.css">
  <link rel="stylesheet" href="/css/partials/components.css">
{% endblock %}

{% block adminContent %}
  <section class="recipe adminRecipe">
    <div class="container">
      <div class="editRecipe">
        <h2>Receita: {{recipe.title}}</h2>
        
        <div class="buttons">
          <a class="btn" type="button" id="editButton" href="/admin/recipes/{{recipe.id}}/edit"> Editar
          </a>
        </div>
      </div>

      <div class="gallery">
        <div class="highlight">
          {% if not files[0] %}
            <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
          {% else %}
            <img src="{{files[0].src}}" alt="{{files[0].name}}">
          {% endif %}
        </div>
        <div class="galleryPreview">
          {% for image in files %}
            <img 
              src="{{image.src}}" 
              alt="{{image.name}}" 
              {% if loop.index0 == 0 %}
              class="active" 
              {% endif %}
              onclick="ImageGallery.setImage(event)">
              
          {% endfor %}
        </div>
      </div>

      <div class="recipeContent">
        <div class="title">
          <p>{{recipe.title}} <br> <span>por {{recipe.chef_name}}</span></p>
        </div>
        <div class="recipeInfo">
          <div class="recipeInfoTitle">
            <h3>Ingredientes</h3>
            <a class="button">esconder</a>
          </div>
          <ul class="content show">
            {% for ingredient in recipe.ingredients%}
              <li>{{ingredient}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="recipeInfo">
          <div class="recipeInfoTitle">
            <h3>Modo de preparo</h3>
            <a class="button">esconder</a>
          </div>
          <ul class="content show">
            {% for prep in recipe.preparation %}
              <li>{{prep}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="recipeInfo">
          <div class="recipeInfoTitle">
            <h3>Informações adicionais</h3>
            <a class="button">esconder</a>
          </div>

          <p class="content show">{{recipe.information}}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
