{% extends "home/layout.njk" %}

{% block head %}
  <title>FoodFy - Lista de Receitas</title>
{% endblock %}

{% block search %}
  {% include 'searchField.njk'%}
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <div class="recipes">
        {% for recipe in recipes %}
          <div class="recipeCard" id="{{recipes.indexOf(recipe)}}">
            <div class="cardImg">
              <img src="{{recipe.image}}" alt="{{recipe.title}}">
            </div>
            <div class="cardContent">
              <p>{{recipe.title}}
                <br>
                <span>{{recipe.chef_name}}</span>
              </p>
              <a href="/recipes/{{recipe.id}}">Ver</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
