{% extends "layout.njk" %}

{% block head %}
  <title>FoodFy - As melhores receitas </title>
  <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block content %}
  <section class="banner">
    <div class="container">
      <div class="bannerContent">
        <h3>As melhores receitas</h3>
        <p>Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.</p>
      </div>

      <div class="bannerImg">
        <img src="/img/bannerImg.png" alt="Chef's Cartoon">
      </div>
    </div>
  </section>

  <main>
    <div class="container">
      <h4>Mais acessadas</h4>

      <div class="recipes">
        {% for recipe in recipes %}
          {% include 'recipeCard.njk' %}
        {% endfor %}

      </div>
    </div>
  </main>
{% endblock %}