<div class="recipeCard" id="{{recipes.indexOf(recipe)}}">
  <div class="cardImg">
    <img src="{{recipe.image}}" alt="{{recipe.title}}">
  </div>
  <div class="cardContent">
    <p>{{recipe.title}}
      <br>
      <span>{{recipe.author}}</span></p>
    <a href="/recipes/{{recipe.id}}">Ver</a>
  </div>
</div>